body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-weight: bolder;
  color: brown;
}

.nav {
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.navlist {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  font-size: 1.2rem;
}

.div {
  border: 2px solid black;
  text-align: center;
  padding: 20px;
  font-weight: 500;
  margin: 5px;
  font-size: 1.2rem;
}
